/* --- html tag styles contact sida --- */

body {
    margin: 0;
    background-color:#E5E5E5;
}

header, main, nav, footer, ul {
    display: flex;
    justify-content: center;  
}

h1 {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -0.02em;
    margin: 0%;
}

p {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: white;
    opacity: 0.6;   
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
    opacity: 0.4;
}

/* --- span --- */

.white {
    color: white;
}

.opacity {
    opacity: 0.4;
}

/* --- header styles --- */

.header-contact {
    width: 131vh;
    padding-top: 5%;
    background-color: #C7DDEA;
    display: grid;
    grid-template-columns: 70% 30%;
}

.text-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-contact h1 {
    margin-right: 8%;   
}

.contact-img {
    height: 300px;
}

/* --- navigation --- */

nav > ul { 
    width: 131vh;
}

ul {
    background-color: white;
    padding-left: 0%;
    margin: 0%;;
    height: 60px;
    align-items: center; 
}

ul > li {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.02em;
    list-style-type: none;
    padding: 10px 80px 10px 80px;   
}

/* --- main contact styles--- */

.main-contact {
    width: 131vh;
    background-color: #A9A19E;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 10%;
}

.main-title {
    width: 300px;
    height: 150px;
    margin-left: 10%;
}

.main-form {
    padding-bottom: 40px;
}

.mail-area {
    width: 330px;
    height: 30px;
    border-radius: 2px;
    border-style: none; 
    margin-bottom: 5%; 
}

.message-area {
    width: 330px;
    height: 170px;
    border-radius: 2px;
    border-style: none;
    margin-bottom: 5%;
}

::placeholder {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding: 5%;
    color:black;    
}

.my-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 33%;
}

.send-button {    
    font-family: 'Fira Sans';
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px; 
    text-transform: uppercase;  
    width: 130px;
    height: 40px;
    border-style: none; 
}

.contact-map {
    background-image: url("img/karta.png");
    background-repeat: no-repeat;
    grid-column: 1 / span 2;
    position: relative;
}

.map-box {
    padding: 1%;
    margin-left: 9%;
    margin-top: 5%;
    background-color:#FAB131;
    width: 320px;
    height: 210px;
}

.map-title {
    color: white;
    text-align: center;
    padding-top: 4%;
}

.map-text{
    opacity: 1;
    padding-left: 8%;
    color: white;  
}

.checkpoint {
    position: absolute;
    top: 200px;
    right: 450px;
}

/* --- footer style contact --- */

.footer-contact {
    width: 131vh;
    height: 40vh;
    background-color:#777574;  
}





