/* --- html tag styles contact sida --- */


  
body {
    margin: 0;
    background-color:#E5E5E5;
}

header, main, nav, footer, ul {
    display: flex;
    justify-content: center;  
}

h1 {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -0.02em;
}


p {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
    /* color: #000;
    opacity: 0.4; */
}
a :visited{
    color: #000;
    opacity: 0.4;
}

.white {
    color: white;
}

.my-button {
    width: 130px;
    height: 40px;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border-style: none; 
    text-transform: uppercase;   
}
/* --- navigation style --- */

.nav-container li {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    list-style-type: none;
    padding: 10px 70px 10px 70px;    
}

.opacity {
    opacity: 0.4;
}




.main-titel{
    width: 314px;
    height: 101px;
    margin-left: 10%;
    margin-top: 12%;

}

/* ---kontakt sida style--- */

.header-contact {
    width: 131vh;
    padding-top: 5%;
    /* height: 400px; */
    background-color: #C7DDEA;
    display: grid;
    grid-template-columns: 70% 30%;
    /* justify-content: center;
    align-content: center; */
}

.contact-img{
    align-self: flex-end;
    justify-content: flex-end;
    height: 300px;
}
.text-contact{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-contact h1{
    margin-right: 10%;
   
}
.main-contact {
    width: 131vh;
    background-color: #A9A19E;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;

}

.my-form{
    padding-top: 20%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.mail-area {
    width: 40vh;
    height: 5vh;
    border-radius: 2px;
    border-style: none;
    margin-bottom: 8%;
    
}
.text-area {
    width: 40vh;
    height: 40vh;
    border-radius: 2px;
    border-style: none;
}

.send-button{
    
    margin-top: 2%;
    
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border-style: none; 
    text-transform: uppercase;  
    width: 20vh;
    height: 5vh;
    border-radius: 20px;
    border-style: none;
    
}

.footer-contact{
    width: 131vh;
    height: 121vh;
    background-color:#777574;
    display: grid;
    grid-template-rows: repeat(2,1fr);   
}

.main-map{
    background-image: url("img/karta.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.checkpoint{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-come{
    display: block;
    margin-top: 10%;
    margin-left: 12%;
    padding-left: 7%;
    background-color:#FAB131;
    width: 300px;
    height: 230px;
}