/* --- mobilversion --- */

 @media only screen and (max-width: 600px) {

    header .header-container {
        width: 600px;
        height: auto;
        display: grid; 
        grid-template-rows: 650px 600px;
        grid-template-columns: 1fr;
    }

    header div .family-img {
        right: 1%;
    }

    .text-left {
        padding-top: 5%;
    }

    nav > ul {
        display: none;
    }

    main .main-container {
        width: 600px;
        grid-template-rows: 1630px 650px 950px;
        justify-content: center;
    }

    main .main-gray {
        width: 100%;
        display: block;
        padding-top: 5%;
    }

    main .main-title > h1 {
        font-size: 42px;
    }

    main .main-gray-left {
        display: grid;
        grid-template-rows: 150px auto;
    }

    main .paragraph {
        margin-left: 10%;
    }

    .button-main {
        display: none;  
    }

    main .main-card{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        top: 500px; 
    }

    main .card {
        margin-top: 15%;   
    }

    main .main-orange-content > h1 {
        margin-bottom: 5%;
    }

    main .main-orange-content {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20%;
    }

    main .main-box {
        display: block;
    }

    main .box {
        padding-top: 10%; 
        padding-bottom: 15%;
    }

    main .number {
        margin-bottom: 5%;
    }

    footer .footer-container {
        display: block;
        grid-template-rows: 1fr;
        height: 300px;
    }

    footer .swipe-up {
        display: none;
    }   
 }
   
/* --- html tags styles --- */

body {
    margin: 0;
    background-color:#E5E5E5;
}

header, main, nav, footer, ul {
    display: flex;
    justify-content: center;  
    justify-items: center; 
}

ul {
    padding-left: 0%;
}

h1 {
    font-family: 'Frank Ruhl Libre';
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    margin: 0;
    letter-spacing: -0.02em;
}

h2 {
    font-family: 'Frank Ruhl Libre';
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

h3 {
    font-family: 'Frank Ruhl Libre';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}

h4 {
    font-family: 'Fira Sans';
    font-style: normal;
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

p {
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:link {
    color: #000;
    text-decoration: none;
}

/* --- header / element styles --- */

.header-container {
    width: 131vh;
    height: 80vh;
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
}

.item-left {
    background-color: #C7DDEA; 
    position: relative; 
}

.title-left {
    margin-left: 10%;
    margin-top: 12%;
}

.text-left {
    width: 260px;
    margin: 3% 0 3% 10%;
}

.button {
    width: 130px;
    height: 40px;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Fira Sans';
    font-weight: bold;
    font-size: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border-style: none; 
    text-transform: uppercase;   
}

.family-img {
    width:310px;
    height:300px;
}
.family {
    position: absolute;
    right: 8px; 
    bottom: -4px;  
}

.item-right{
    display: grid;
}

.item-right-top {
    display: grid;
    align-content: center;
    justify-items: center;
    background: #F17949;
}

.item-right-bottom {
    display: grid;
    align-content: center;
    justify-items: center;
    background: #FAB131;    
}

/* --- span color --- */

.white {
    color: white;
}

.opacity {
    opacity: 0.4;
}

/* --- navigation style --- */

nav ul > li {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    list-style-type: none;
    padding: 10px 70px 10px 70px;    
}

/* --- main styles --- */

.main-container {
    width: 131vh;
    display: grid;
    grid-template-rows: 550px 600px 600px;
    position: relative;
}

/* --- main first section --- */

.main-gray{
    background-color: #A9A19E;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.main-gray-left {
    display: grid;
    grid-template-rows: 250px auto;
}

.main-title{
    margin-left: 10%;
    margin-top: 10%;    
}

.paragraph {
    width: 280px;
    height: 230px ;
    margin-left: 20%;
    margin-top: 10%;
}

/* --- main second section / card styles --- */

.main-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    position:absolute;
    top: 400px;
    background-color: transparent;       
}

.card-blue {
    background-color: #C7DDEA;
}

.card-yellow {
    background-color:#FAB131;
}

.card-orange {
    background-color:#F17949;
}

.card-top { 
    width: 230px;
    height: 150px;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    padding-top: 10px;
}

.card {
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    display: grid;
    justify-items: center; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color:white;
    width: 214px;
    position: absolute;
    display: grid;
    top: 130px;
    justify-items: center;  
}

.card-text {
    font-family: 'Fira Sans';
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

/* --- main third section styles --- */

.main-orange {   
    background-color: #FAB131;
    text-align: center;
}

.main-orange-content {
    padding-top: 20%;
    padding-right: 15%;
    padding-left: 15%;
}

.main-orange-content > h1 {
    padding-bottom: 3%;
}

/* --- main fourth section styles --- */

.main-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.box {
    display: grid;
    text-align: center;
    padding: 10%; 
}

.box-blue {
    align-items: center;
    background-color: #C7DDEA;
}

.box-white {
    background-color: white;
}

.box-orange {
    background-color: #F17949;
}

.number {
    font-family: 'Frank Ruhl Libre';
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    display: flex;
    align-self: start;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
    margin: 0%;
}

/* --- footer section styles --- */

.footer-container {
    width: 131vh;
    display: grid;
    background-color:#777574;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px;
}

.swipe-img {
    width: 45px;
    height: 45px;
}

.swipe-up {
    width: 100%;
    background-color: #A9A19E;
    display: grid;
    justify-content: center; 
    justify-items: center; 
}
