/* --- html tag styles --- */
body {
    margin: 0;
    background-color:#E5E5E5;
}

header, main, nav, footer, ul {
    display: flex;
    justify-content: center;  
}

h1 {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

h2 {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

h3{
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}

h4 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

p {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}

.text-1 {
    width: 314px;
    height: 101px;
    margin-left: 10%;
    margin-top: 12%;
}

.text-2 {
    width: 260px;
    height: 103px;
    margin-top: 3%;
    margin-left: 10%;
}

.white {
    color: white;
}

.my-button {
    width: 130px;
    height: 40px;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border-style: none; 
    text-transform: uppercase;   
}
/* --- navigation style --- */

.nav-container li {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    list-style-type: none;
    padding: 10px 70px 10px 70px;    
}

.opacity {
    opacity: 0.4;
}


.header-container {
    width: 1000px;
    height: 550px;
    display: grid; 
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr); 
}

.family {
    position: absolute;
    right: 8px; 
    bottom: -4px;  
}

.item-1 {
    grid-column-start: auto;
    grid-row-end: span 2;
    background-color: #C7DDEA; 
    position: relative; 
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row: 1 / span 1;
    background: #F17949;
}

.item-2 , .item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.item-3 { 
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row: 2 / span 2;
    background:#FAB131;
}

/* --- main style general--- */

.main-container {
    width: 1000px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 600px);
    grid-template-columns: repeat(1,1fr);
    position: relative;
}

/* --- main first section --- */

.gray-div {
    background-color: #A9A19E;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.paragraph {
    margin: 20% 30% 0 10%;
}

/* --- main second section card styles --- */

.card-div{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    position:absolute;
    top: 450px;   
}

.card-blue{
    background-color: #C7DDEA;
}

.card-yellow{
    background-color:#FAB131;

}

.card-orange{
    background-color:#F17949;
}

.fondo { 
    width: 230px;
    height: 150px;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    padding-top: 10px;
}

.card {
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center; 
}

.card-body {
    background-color:white;
    width: 214px;
    position: absolute;
    display: grid;
    top: 130px;
    justify-items: center;
   
}

.card-text {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

/* --- main third section styles --- */

.orange-div {   
    background-color: orange;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20%;
}

/* --- main fourth section styles --- */

.box-div {
    display: grid;
    grid-template-columns: repeat(3,333px);
    grid-template-rows: repeat(2,300px);
}

.box-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C7DDEA;
}

.box-white{
    background-color: white;
}

.box-orange{
    background-color: #F17949;
}

.box {
    display: grid;
    text-align: center;
    padding: 10%; 
}

.number {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    display: flex;
    align-self: start;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
    margin: 0%;
}

/* --- footer section styles --- */

.footer-container {
    width: 1000px;
    height: 400px;
    background-color:#777574;
}

.swipe-up {
    height: 70px;
    background-color: #A9A19E;   
}